vendor/
docker/camera/app/vendor
.editorconfig
.env.*.local
.env.local
.env.local.php
.env.test
/node_modules/
/public/build/
/.git
/.idea
/docker-compose.*.yml
/tests
/phpunit.xml.dist
/Dockerfile
/.gitignore
/dockerignore
/var
