:80 {
    route   {
        root * /var/www/html/public

        mercure {
                transport_url {$MERCURE_TRANSPORT_URL:bolt:///data/mercure.db}
                publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY} {env.MERCURE_PUBLISHER_JWT_ALG}
                subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY} {env.MERCURE_SUBSCRIBER_JWT_ALG}
                anonymous
                subscriptions
                cors_origins *
                publish_origins *
                {$MERCURE_EXTRA_DIRECTIVES}
            }

        push


        handle /stream/* {
            uri strip_prefix /stream
            reverse_proxy camera:8090
        }

        php_fastcgi backend:9000 {
            try_files {path} /index.php =404
        }
        file_server
	}

    handle_errors {
        respond "{http.error.status_code} {http.error.status_text}"
        file_server
    }
}
