:80 {
    route   {
        root * /var/www/html/public

        mercure {
                transport_url {$MERCURE_TRANSPORT_URL:bolt:///data/mercure.db}
                publisher_jwt {env.MERCURE_PUBLISHER_JWT_KEY}
                subscriber_jwt {env.MERCURE_SUBSCRIBER_JWT_KEY}
                anonymous
                subscriptions
            }

        push

        php_fastcgi backend:9000 {
            try_files {path} /index.php =404
        }

        file_server
	}

    handle_errors {
        respond "{http.error.status_code} {http.error.status_text}"
        file_server
    }
}
